/*! jQuery v3.3.1 | (c) JS Foundation and other contributors | jquery.org/license */



.nav-side-menu{
    width: 30% !important;
    position: float !important;
  height: 100% !important;

}


.nav-side-menu label {
  width: 100%;
.content{
    width: 100%;
}
@media only screen and ( max-width: 1024px ) {
    
}


@media screen and ( max-width: 800px ) {

    header{
            position:float;   
    }
}
#usuario{
    position: relative;
    width: auto;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.nav-side-menu{
    width: 30%;
}
}


@media only screen and ( max-width: 480px ) {
    #usuario{
        
        width: auto;
        max-width: 20%;
      
    }
}


@media only screen and ( max-width: 320px ) {
    #usuario{
        
        width: auto;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
      
    }
}
