
@import url('https://fonts.googleapis.com/css?family=Montserrat');

header {
  background: #000;
}
#usuario{
text-align: right;
margin-top: 30px;
margin-right: 100px;
color: white;
line-height: 20px;
}
.row .info-users .usarix .icono{
  line-height: 18px;
  margin-right: 90px;
}
.header-logo {
  text-align: center;
}
.nav-side-menu {
  position: fixed !important;
  height: 100% !important;
  background: yellow;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding: 5% 0 0;
}
.nav-side-menu label {
	display: block;
	padding: 5px;
  cursor: pointer;
}
.nav-side-menu label:hover{
	background: #ffffffb8;
}
.nav-side-menu ul{
	width: 100%;
	list-style: none;
	overflow: hidden;
	max-height: 0;
	transition: all .4s linear;
  padding: 0;
}
.nav-side-menu input{
	display: none;
}
.nav-side-menu ul li:hover{
	background-color: #ffffffb8;
  cursor: pointer;
}
.nav-side-menu input:checked ~ ul{
	height: auto;
	max-height: 200px;
	transform: all;
  font-size: 16px;
}
.content {
  float: right;
}
.search {
  float: right;
  padding: 20px;
}
.form-control {
  background: #000 !important;
  color: #fff !important;
}
.container {
  margin: 50px 50px 0;
}
.col-lg-8{
  background-color: #E0E0E0;
}
