
@import url('https://fonts.googleapis.com/css?family=Montserrat');

header {
  background: #000;
}
#usuario{
text-align: right;
margin-top: 30px;
margin-right: 100px;
color: white;
font-family: 'Montserrat', sans-serif;
line-height: 20px;

}
.row .info-users .usarix .icono{
  line-height: 18px;
  margin-right: 90px;
}

.header-logo {
  text-align: center;
}
.conteiner{
  background-color: yellow;
}
.contenedor-menu {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: yellow;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}
.contenedor-menu .menu ol p {
  background: #4242;
  color: black;
}
.contenedor-menu .menu ol:hover {
  background: #4241;
  color: black;
}
