/* Estilos Data Dashboard */
body {
  font-family: 'Open Sans', sans-serif !important;
}
header {
  background: #000;
  position: fixed;
  width: 100%;
  z-index: 999;
  margin: 0 !important;
}
.info-users {
  text-align: right;
}
#usuario{
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  font-family: 'Bitter', serif;
  margin: 10px 15px 0 0;
}
#usuario-icon {
  background: url(../src/images/user.png) no-repeat;
  height: 70px;
  width: 65px;
  margin: 10px 25px 0 0;
  display: inline-block;
  vertical-align: middle;
}
.row .info-users .usarix .icono{
  line-height: 18px;
  margin-right: 90px;
}
.header-logo {
  text-align: center;
}
.nav-side-menu {
  position: fixed !important;
  height: 100% !important;
  background: #FFE521;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  padding: 3% 0 0;
  top: 86px;
  font-family: 'Bitter', serif;
}
.nav-side-menu label {
	display: block;
	padding: 3px;
  cursor: pointer;
}
.nav-side-menu label:hover{
	background: #ffffffb8;
}
.nav-side-menu ul{
	width: 100%;
	list-style: none;
	overflow: hidden;
	max-height: 0;
	transition: all .4s linear;
  padding: 0;
  text-transform: capitalize;
  font-family: 'Open Sans', sans-serif;
}
.nav-side-menu input{
	display: none;
}
.nav-side-menu ul li:hover{
	background-color: #ffffffb8;
  cursor: pointer;
}
.nav-side-menu input:checked ~ ul{
	height: auto;
	max-height: 200px;
	transform: all;
  font-size: 17px;
}
.content {
  float: right;
  top: 86px;
}
#grafica {
  margin-top: 50px;
}
.search {
  float: right;
  padding: 20px;
}
.form-control {
  background: #000 !important;
  color: #fff !important;
}
.container {
  margin: 50px 50px;
}
.generacionTitle {
  margin: 0 0 20px;
  font-family: 'Bitter', serif;
  background: #56F89A;
  width: 200px;
  padding: 20px;
  text-align: center;
}
.generacion {
  font-size: 45px;
  font-weight: bold;
  display: block;
}
.btn-primary {
  background-color: #FF009E !important;
  border-color: #FF009E !important;
}
.btn-primary:hover {
  background-color: #000 !important;
  border-color: #000 !important;
}
#alumnasResult {
  display: none;
}
